<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>WARCannon Status Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="WARCannon status page">
    <meta name="author" content="">

    <link rel="stylesheet" href="assets/css/bootstrap.css">

  </head>

  <body ng-app="warcannon" ng-controller="statusCtrl" class="bg-dark text-white">

    <div class="container-fluid">

      <div class="row">
				<div class="col-12 text-center" ng-show="!loaded">
					<h3>Loading</h3>
				</div>

				<div class="col-12 text-center" ng-show="loaded">
					<h3>Last update: {{ progress.generated | momentfn:'fromNow' }}; Queue [{{ progress.sqs.ApproximateNumberOfMessages }}]; In-Flight: [{{ progress.sqs.ApproximateNumberOfMessagesNotVisible }}]</h3>
				</div>
			</div>

			<div class="row">
      	<div class="col-xl-3 col-lg-4 col-sm-6 col-12 border border-white" ng-repeat="instance in progress.metrics" ng-show="loaded">
      		<div class="text-center">
      			<b>{{ instance.instanceId }} @ {{ instance.timestamp | momentfn:'fromNow' }}</b>
      		</div>

      		<div>
      			<small>
              <b>State:</b>&nbsp;{{ instance.state }};
              <b>Matches:</b>&nbsp;{{ instance.totalHits }};
              <br>
              <b>Queue:</b>&nbsp;{{ instance.warcListLength }};
              <b>Parallelism:</b>&nbsp;{{ instance.parallelism }};
              <br>
      				<b>Load:</b>&nbsp;{{ instance.load[0] }}, {{ instance.load[1] }}, {{ instance.load[2] }};
      				<b>Completed:</b>&nbsp;{{ instance.completedWarcCount }};
      				<b>Partial:</b>&nbsp;{{ instance.partialWarcCount - instance.completedWarcCount | number:2 }};
      				<br>
              <b>Memory:</b>&nbsp;{{ instance.memory.free / instance.memory.total * 100 | number:2 }}% free ({{ instance.memory.free / 1024 / 1024 / 1024 | number:2 }}GiB);
      				<b>Work:</b>&nbsp;{{ instance.partialWarcCount | number:2 }} warcs in {{ instance.runtime }} seconds;
      				<b>Throughput:</b>&nbsp;{{ instance.runtime / instance.partialWarcCount | number:2 }}s/ea.;
      			</small>
      		</div>

          <div class="row row-flex justify-content-center">
            <div class="col-2 m-0 p-0 border border-white" ng-repeat="(warc, perc) in instance.progress">
          		<div class="progress-bar" ng-class="{ 'bg-success': perc > 0 }" role="progressbar" aria-valuenow="{{ (perc > 0) ? perc : 100 }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ (perc > 0) ? perc : 100 }}%; font-size: 10px; margin-top: 1px;">
                <small>
                  {{ (perc < 0) ? 'Downloading' : perc }}
                </small>
          		</div>
            </div>
          </div>
      	</div>
      </div>

    </div> <!-- /container -->

    <!-- jQuery -->
    <script src="assets/js/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>


    <!-- Angular -->
  	<script src="assets/js/angular.min.js"></script>
  	<script src="angular/controllers/warcannon.js"></script>

    <!-- Moment -->
    <script src="assets/js/moment.js"></script>

  </body>
</html>
