{
	"backendBucket": "backend-terraform-warcannon-<random>",	# You have to create this bucket manually.
	"awsProfile": "default",
	"debugLambda": true,

	"nodeInstanceType": "m5n.xlarge",	# The instance type to use for compute nodes.
	"nodeCapacity": 1,		# The number of compute nodes to use when processing data.
	"nodeParallelism": 1.7,	# The number of warcs to run per-thread on the compute node. 1.7 is a great idea.

	"sshPubkey": "ssh-rsa whataver you@yourhost",
	"allowSSHFrom": "8.8.8.8/32"
}
