{
	"backendBucket": "backend-terraform-warcannon-<random>",
	"awsProfile": "default",
	"debugLambda": true,

	"nodeInstanceType": ["m5n.xlarge", "m5dn.xlarge"],
	"nodeCapacity": 1,
	"nodeParallelism": 1.7,
	"nodeMaxDuration": 86400,

	"sshPubkey": "ssh-rsa whataver you@yourhost",
	"allowSSHFrom": "8.8.8.8/32"
}